BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach
ColumnLimit: 80
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
IndentCaseLabels: true
BreakBeforeBinaryOperators: None
BreakConstructorInitializers: BeforeComma
AllowShortEnumsOnASingleLine: false
BinPackParameters: false
# BreakAfterFunctionDefinitionParameters: true
Cpp11BracedListStyle: true
PenaltyReturnTypeOnItsOwnLine: 0
PointerAlignment: Left
DerivePointerAlignment: false
